body{
    background-color: antiquewhite;
}
#main{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#sub-title{
    font-style: italic;
    font-weight: lighter;
}
#img-div{
    background-color: white;
    padding: 20px;
    margin: 0;
}
#image{
    width: 900px;
    height: 500px;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
#img-caption{
    font-size: small;
    font-style: italic;
}

p{
    font-weight: bold;
}

h2{
    font-style: italic;
}

#tribute-info{
    margin: 0 auto;
    width: 550px;
    margin-top: 50px;
    margin-bottom: 75px;
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

li{
    text-align: start;
}
